{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in students %}
    <li>
      {{ student.name }} {{ student.group }}
<!--      {{ student.teacher.name }} {{ student.teacher.subject }}-->
      <ul type="square">
        {% for teacher in student.teacher.all %}
          <li>Преподаватель: {{ teacher.name }}, предмет: {{ teacher.subject }}</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
